
.nav {
  background-color: #0061b5;
  width: 100%;
  height: 31px;
  display: block;
}

header {
  display: block;
  width: 100%;
  height: 121px;
  background-color: white;
  color: #0061b5;
  font-size: 41px;
}
header img {
  margin-top: 20px;
  display: inline-block;
  align: left;
  vertical-align: middle;
}

.tagline {
  white-space: pre-line;
  display: inline-block;
  font-size: 12px;
}

.carousel {
  width: 100%;
  height: 201px;
  background-image: url("../images/slider1.jpg");
  background-position: 50% 30%;
  background-size: cover;
}

.intro {
  position: absolute;
  text-align: justify;
  margin-top: 35px;
  margin-left: 100px; 
  margin-right: 100px; 
  vertical-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color:rgba(0,95,179,0.3);
  font-size: 41px;
}



.intro-orange{
  color:#ff9900;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.intro-white{
  color:#ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 41px;
}

main {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

ul {
  position: absolute;
  display:block; 
  text-align: center;
}

 ul.menu li {
    display: inline;
    overflow: hidden;
}

ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-left: 63px;
    vertical-align: middle;
    margin-top: 5px;
}

ul li a:hover {
    color: #ff9900;
}



.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 700px;
    background:rgba(0,95,179,0.9);
    min-width: 160px;
    z-index: 4;
}


.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 4;
}

.dropdown-content a:hover {
  color: #ff9900;
  z-index: 4;
}

.show {display:block;}


